
.un>a {
    color: $colour-secondary;
    font-size: 25px;
}
.deux>a {
    color: $colour-secondary;
    font-size: 25px;
}
.trois>a {
    color: $colour-secondary;
    font-size: 25px;
 
}
.arrow {
    color: #232525;
}

.arrow2 {
    display: flex;
    
}
.arrow2:hover {
    animation: arrowslide 2s ease-in-out infinite alternate;
}

.me {
    position: relative;
    &::before {
        content: "i am Gaël";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -5px;
        left: 0;
        background-color: currentColor;
        transform-origin: bottom right;
        transition: transform 500ms ease-out;
        
    }
    &:hover::before {
        cursor: pointer;
        transform: scaleX(1);
        transform-origin: bottom left;
        color: white;
        
        
            
    
        
    }
    &:hover {
        color: rgb(44, 136, 167); 
       cursor: pointer;
    }
}

.separator {
    width: 50%;
    height: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #66a59e;
    margin: auto;
    border-end-start-radius: 100px;
    border-start-end-radius: 100px;
}

// Mail

a:link {
    text-decoration: none;
}

// images

img {
    width: 50%;
    margin: auto;
}


 #monog {
         width: 12%;
         margin-left: 50px;
 }

 

 .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  width: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.navbar-brand {
    margin-right: 40rem!important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white!important;
}

.navbar-light .navbar-brand {
  color: white!important;
}
.navbar-light .navbar-nav .nav-link {
  color: white!important;
}

.dropdown-menu {
  padding: 0.5rem 3rem!important;
}

.dropdown-item {
    color: black!important;
    font-family: Arial, Helvetica, sans-serif!important;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}





