// Mise en page responsive pour tablettes et mobiles

@media screen and (max-width: 1024px) {
    blockquote {
        display: none;
    }
    figure {
        display: none;
    }

    .corps {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    img {
        width: 100%;
    }
    #monog {
        width: 30%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    blockquote {
        display: none;
    }
    figure {
        display: none;
    }
    .corps {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .title {
        display: block;
        
    }
    .arrow {
        display: none;
    }
    h1 {
        font-size: 48px;
    }

    .projet1, .projet2, .projet3, .projet4 {
        width: 190px;
        height: 150px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 3px;
    }

    img {
        width: 100%;
    }
    #monog {
        width: 30%;
        margin: 0;
    }

}