body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #707269;
  background-size: contain;

}

img {
    width: 35%;
    align-self: center;
}

h2 {
  color: white;
}

form {
  align-self: center;
}

p {
    margin-top: 0px;
    color: white;
  }
   
  fieldset {
    margin-bottom: 15px;
    padding: 10px;
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
  }
   
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    color: white;
  }
   
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
   
  input:focus {
    background: #eaeaea;
  }
   
  input, textarea {
    width: 249px;
  }
   
  textarea {
    height: 100px;
  }
   
  select {
    width: 254px;
  }
   
  input[type=checkbox] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }

  