@charset "UTF-8";
@-webkit-keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.un:hover, .deux:hover {
  -webkit-animation-name: wiggle;
  animation: wiggle 0.4s ease-in-out infinite alternate;
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
@keyframes linked {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0px);
  }
}
.trois:hover {
  animation: linked 2s ease-in-out;
  transition: transform 2s ease-in-out;
}

@keyframes arrowdown {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translate(0px);
  }
}
.arrow {
  animation: arrowdown 2s ease-in-out infinite;
  transition: transform 2s ease-in-out;
}

#blocpage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #F5F5F5;
  background-size: contain;
}

.title {
  background-image: linear-gradient(to bottom, #579CB4, transparent 95%);
  position: relative;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px;
}

blockquote {
  margin: 0;
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  border-style: double;
}

blockquote p::before {
  content: "“";
}

blockquote p::after {
  content: "”";
}

h1 {
  color: #e4e9d9;
  margin: 0px;
  padding: 20px;
  font-size: 60px;
  margin-bottom: 50px;
}

.corps {
  display: flex;
  flex-flow: wrap;
  width: 1200px;
  justify-content: center;
}

body {
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  bottom: 0px;
  color: #e4e9d9;
  background-image: linear-gradient(to bottom, transparent 5%, #579CB4);
  padding: 20px;
  justify-content: space-between;
  margin-top: 46px;
}

a {
  color: #e4e9d9;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article > p {
  color: aliceblue;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 80px;
}

#formulaire {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #444;
}
#formulaire label {
  background: #444;
  color: #fff;
  transition: transform 400ms ease-out;
  display: inline-block;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 100vh;
}
#formulaire img {
  width: 90%;
  margin-top: 65px;
  border-style: double;
}
#formulaire input {
  position: absolute;
}

.note {
  font-size: 25px;
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note_bottom {
  background: linear-gradient(to bottom right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.un > a {
  color: #e4e9d9;
  font-size: 25px;
}

.deux > a {
  color: #e4e9d9;
  font-size: 25px;
}

.trois > a {
  color: #e4e9d9;
  font-size: 25px;
}

.arrow {
  color: #e4e9d9;
}

.me {
  position: relative;
}
.me::before {
  content: "i am Gaël";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 500ms ease-out;
}
.me:hover::before {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}
.me:hover {
  color: #2c88a7;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

img {
  width: 50%;
  margin: auto;
}

#monog {
  width: 12%;
  margin-left: 50px;
}

.projet1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-image: linear-gradient(to left, transparent 15%, #579CB4);
  font-family: "Ma Shan Zheng", cursive;
}

.projet1 > p,
.projet1 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  color: #000000;
}

.projet1:hover > p,
.projet1:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
  width: 100%;
  padding: 10px;
}

.projet2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-image: linear-gradient(to left, transparent 15%, #579CB4);
  font-family: "Redressed", cursive;
}

.projet2 > P,
.projet2 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plat2 {
  background: #000000;
}

.ora {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #c77412;
}

.projet2:hover > p,
.projet2:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.projet3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  background-image: linear-gradient(to left, transparent 15%, #579CB4);
  font-family: "Dancing Script", cursive;
}
.projet3 .plat3 {
  padding-left: 3px;
}

.projet3 > p,
.projet3 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projet3:hover > p,
.projet3:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.plat3 {
  background: #000000;
}

.blue {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #0887fb;
}

.projet4 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 485px;
  margin: 30px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #ededed;
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(to left, transparent 15%, #579CB4);
}

.projet4 > p,
.projet4 i {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projet4:hover > p,
.projet4:hover i {
  opacity: 0.5;
  transform: scale(1.6);
  transition: ease-in-out 600ms;
  width: 100%;
}

.plat4 {
  background: #000000;
}

.green {
  transform: scale(1);
  opacity: 1;
  transition-duration: 600ms;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #72bf56;
}

.un {
  align-self: center;
}

.deux {
  align-self: center;
}

/********************************
* Basics
*********************************/
* {
  box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #000000;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  margin: 2rem auto 1rem;
  line-height: 1;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
}

a {
  color: inherit;
  transition: 0.25s all ease-in-out;
}

a:visited {
  color: #e4e9d9;
}

a:hover,
a:focus,
a:active {
  background-color: #e4e9d900;
  color: white;
}

a:focus {
  outline: thin solid #e4e9d9;
}

a:hover,
a:active {
  outline: 0;
}

a.button {
  align-items: center;
  background-color: #e4e9d9;
  border: 1px solid #e4e9d9;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

a.button:hover,
a.button:focus {
  background-color: #e4e9d9;
  box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
  outline: 1px solid #e4e9d9;
}

a.button:visited {
  color: #fff;
}

ul {
  margin: 0 0 1.5rem;
  padding: 0;
}

li {
  display: inline-block;
}

svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
}

img {
  height: auto;
  margin-bottom: 0.5rem;
  max-width: calc(100% + 2rem);
  position: relative;
  left: -1rem;
  right: -1rem;
}

p {
  margin: 0 0 0.5rem;
}

main {
  padding: 1rem 2rem;
  margin: auto;
}

header {
  text-align: center;
}

.card {
  border: 1px solid #bac6d3;
  border-radius: 8px;
  padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #050504;
  border-radius: 3px;
}

/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
  .carousel-item {
    flex-basis: 300px;
  }
}
@media screen and (min-width: 992px) {
  body,
button,
input,
select,
optgroup,
textarea {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  .carousel-item {
    flex-basis: 325px;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }

  .carousel-item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 1600px) {
  body,
button,
input,
select,
optgroup,
textarea {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  blockquote {
    display: none;
  }

  figure {
    display: none;
  }

  .corps {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  #monog {
    width: 30%;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  blockquote {
    display: none;
  }

  figure {
    display: none;
  }

  .corps {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    display: block;
  }

  .arrow {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  .projet1, .projet2, .projet3, .projet4 {
    width: 190px;
    height: 150px;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin: 3px;
  }

  img {
    width: 100%;
  }

  #monog {
    width: 30%;
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
