
@media screen and (max-width: 1920px) {
    .column1 {
        width: 25%;
    }
}

@media screen and (max-width: 1440px) {
    .lign {
        flex-direction: column-reverse;
    }

}



@media screen and (max-width: 1024px) {
    .trois {
        color: black;
        text-align-last: center;
    }
    blockquote {
        display: none;
    }
    .carousel-items {
        flex-direction: column;
    }
    .card {
        margin: 10px;
    }
    .plats {
        width: 70%;
        margin: auto;
    }
    .column {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    .memo {
        display: none;
    }
    .row {
        justify-content: center;
    }
    .column1 {
        width: 45%;
    }
    .navbar-brand {
        margin-right: 1rem!important;
    }

}

@media screen and (max-width: 768px) {
    .arrow {
        display: none;
    }
    .trois {
        color: black;
        text-align-last: center;
    }
   
    
    .carousel-items {
        flex-direction: column;
    }
    .card {
        margin: 10px;
    }
    .plats {
        width: 70%;
        margin: auto;
    }
    
    footer {
        flex-direction: column;
    }
    .center {
        display: none;
    }

    .imgmemory {
        width: 75%;
        margin: auto;
    }
}



