/********************************
* Basics
*********************************/
* {
    box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #000000;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
}

h3 {
    font-size: 1.25rem!important;
    margin-top: 0;
}


a {
    color: inherit;
    transition: 0.25s all ease-in-out;
}

a:visited {
    color: #e4e9d9;
}

a:hover,
a:focus,
a:active {
    background-color: #e4e9d900;
    color: white;
}

a:focus {
    outline: thin solid #e4e9d9;
}

a:hover,
a:active {
    outline: 0;
}

a.button {
    align-items: center;
    background-color: #e4e9d9;
    border: 1px solid #e4e9d9;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a.button:hover,
a.button:focus {
    background-color: #e4e9d9;
    box-shadow: 0 0 2px 2px #bac6d3;
}

a.button:focus {
    outline: 1px solid #e4e9d9;
}

a.button:visited {
    color: #fff;
}

ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

p {
    margin: 0 0 .5rem;
}

main {
    padding: 1rem 2rem;
    margin: auto;
}

header {
    text-align: center;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    height: 100%!important;

    img {
        border: solid 1px black;
        border-radius: 10px;
        position: inherit!important;
        
    }
}

.card-content {
    
}


/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #6b6969;
    border-radius: 3px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (max-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
        display: block!important;
    }
}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }

    .carousel-item {
        flex-basis: 325px;
        display: block!important;
        margin-right: 0!important;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .carousel-item {
        flex-basis: 450px;
    }
}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.00rem;
    }
}


/* Carousel 3d  */

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  text-align: center;
}

.scene {
  margin: 40px 0;
  position: relative;
  width: 500px;
  height: 400px;
  margin: 80px auto;
  perspective: 1000px;
}

.carousel3d {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  border-radius: 100px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(9n+1) { background-image: url(../img/bientot.png); }
.carousel__cell:nth-child(9n+2) { background-image: url(../img/bientot.png); }
.carousel__cell:nth-child(9n+3) { background-image: url(../img/bientot.png); }
.carousel__cell:nth-child(9n+4) { background-image: url(../img/bientot.png); }
.carousel__cell:nth-child(9n+5) { background-image: url(../img/bientot.png); }
.carousel__cell:nth-child(9n+6) { background-image: url(../img/bientot.png); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }




.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
    flex-direction: column;
}