
// projet 1 index


.un { 
    align-self: center;
}

.deux {
    align-self: center;
}

.button {   background-color: burlywood;}

.column {
    text-align-last: center;
    margin-top: 50px;
    background-color: #50a7c4;
    opacity: 0.8;
    border: solid 2px;
    padding: 36px;
    width: 25%;
}

.plats {
    background-image: url(../img/plats.jpg);
    padding: 35px;
}

.imgmemory {
    width: 40%;
    border: solid 2px black;
    border-radius: 10%;

}
.memo {
    width: 60%;
}

.column1 {
    
    background-color: #50a7c4;
    opacity: 0.8;
    border: solid 2px;
    padding: 36px;
    width: 25%;
    align-self: center;
}

.row {
    display: flex;
}

.Memory  {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 2.2rem;
    font-style: oblique;
    text-decoration: underline #50a7c4;
}